section.personal-bouquet
  .personal-bouquet__container
    h2.personal-bouquet__title Собрать букет по вашим пожеланиям?
    p.personal-bouquet__text Расскажите о необходимых цветах и бюджете
  a(href='#').btn.btn_request-call Оставить заявку