footer.page-footer
  .content-wrapper
    .page-footer__info
      .about-us
        p.about-us__text Royal Flowers – флористический бутик создает композиции в брэндовой упаковке. Роскошные и оригинальные композиции с использованием цветов премиум класса – это отражение того, кто вы есть, и будут выражать ваши самые глубокие эмоции лучше, чем любое другое сообщение.

      .footer-contacts
        p.footer-contacts__text +7 (905) 095-94-05
        a(href='#').btn.btn_request-call Заказать звонок
        a(href='mailto:flowers-live@mail.ru').link.link_mail_us flowers-live@mail.ru

      .socials
        p.socials__title Новинки и акции:
        ul.socials__list
          li.socials__item
            a(href='#').socials__link.socials__link_fb
          li.socials__item
            a(href='#').socials__link.socials__link_instagram
          li.socials__item
            a(href='#').socials__link.socials__link_vk

    section.copyright
      p.copyright__text © 2017, Флаверс Лайф — доставка цветов и букетов