section.delivery#delivery
  .content-wrapper
    h2.delivery__title Доставка и оплата
    ul.delivery__list
      li.delivery__item.delivery__item_payment Оплата любым удобным для Вас способом: наличными при получении, Visa, MasterCard и еще 5 способов
      li.delivery__item.delivery__item_free-delivery Доставляем вежливо, вовремя и бесплатно
      li.delivery__item.delivery__item_anytime-delivery Работаем и радуем Вас 7 дней в неделю
