nav.page-navigation
  .content-wrapper
    ul.page-navigation__list
      li.page-navigation__item.page-navigation__item_hatbox
        a(href='shlyapnie-korobki.html').page-navigation__link Букеты в шляпных коробках
      li.page-navigation__item.page-navigation__item_classic
        a(href='classic.html').page-navigation__link Букеты
      li.page-navigation__item.page-navigation__item_vase
        a(href='vase.html').page-navigation__link Букеты в вазе
      li.page-navigation__item.page-navigation__item_millionroses
        a(href='millionroses.html').page-navigation__link Большие букеты от 101 шт.