doctype html
html(lang='ru').root
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="yandex-verification" content="45943a07ecf30dbd")
    title Flowers Live
    link(type='image/x-icon', rel='icon', href='static/favicon.ico')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.css', rel='stylesheet')
    link(href='style.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js', defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.js', defer)

  body.root__body
    include product/product
    include page-header/page-header

    main.main-content
      .content-wrapper
        section.products
          .products__list
            each product in products_1
              +product(product.name, product.descr, product.numbers, product.packing, product.packing_color, product.price, product.images)

          include personal-bouquet/personal-bouquet

          if products_2
            .products__list
              each product in products_2
                +product(product.name, product.descr, product.numbers, product.packing, product.packing_color, product.price, product.images)

    include delivery/delivery
    include page-footer/page-footer
    include form-order/form-order
    include form-request-call/form-request-call

    script(src='script.min.js', defer)
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45899169 = new Ya.Metrika({ id:45899169, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45899169" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
