@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,500&subset=cyrillic-ext,latin-ext'
@require 'nib'

@require 'common/variables'
@require 'common/mixins'

@require 'common/scaffolding'
@require 'common/forms'
@require 'common/modals'

@require 'page-header/page-header'
@require 'page-navigation/page-navigation'
@require 'page-footer/page-footer'

@require 'product/product'
@require 'personal-bouquet/personal-bouquet'
@require 'delivery/delivery'

@require 'form-order/form-order'
