color-main = #000
color-akcent = #c9b182
color-akcent-darken = #ddceb0

font-color-dark = #000
font-color-light = #727272
font-color-akcent = #c1a326

font-base = 300 14px 'Roboto Slab', serif
font-family-add = Roboto, serif

content-wrapper-width = 1120px