header.page-header
  .content-wrapper
    .working-mode
      p.working-mode__text С 8 до 20 без выходных
      p.working-mode__text Доставка цветов по Новосибирску
      a(href='#delivery').link.link__delivery Доставка и оплата

    .page-header__logo
      a(href='index.html').page-header__logo-link
        img(src='static/page-header__logo.png', alt='Flowers Live', width='125', height='92').page-header__logo-img

    .contacts
      a(href='tel:+79050959405').contacts__phone.contacts__phone_whatsApp +7 (905) 095-94-05
      a(href='#').link.link_request-call Заказать звонок

  .features
    .content-wrapper
      ul.features__list
        li.features__item.features__item_design Экслюзивный дизайн композиции
        li.features__item.features__item_premium Цветы премиум-класса
        li.features__item.features__item_payment Удобная оплата
        li.features__item.features__item_delivery Бесплатная доставка по Новосибирску

  include ../page-navigation/page-navigation
