header.page-header
  .content-wrapper
    .working-mode
      p.working-mode__text Без выходных/24 часа
      p.working-mode__text Доставка цветов премиум-класса по Москве
      a(href='#delivery').link.link__delivery Доставка и оплата

    .page-header__logo
      a(href='index.html').page-header__logo-link
        img(src='static/page-header__logo.svg', alt='Royal Flowers', width='125', height='92').page-header__logo-img

    .contacts
      a(href='tel:+74993467171').contacts__phone.contacts__phone_whatsApp +7 (499) 346-71-71
      a(href='#').link.link_request-call Заказать звонок

  .features
    .content-wrapper
      ul.features__list
        li.features__item.features__item_design Экслюзивный дизайн композиции
        li.features__item.features__item_premium Цветы премиум-класса
        li.features__item.features__item_payment Удобная оплата
        li.features__item.features__item_delivery Бесплатная доставка по Москве

  include ../page-navigation/page-navigation
